<div class="parent">
<div class="form-type">
<div class="container">
  <div class="option-box">
    <i class="fas fa-user-plus fa-3x mb-3"></i>
    <h4>Employee</h4>
    <p>click the button below to Update Employee Details</p>
    <a href="updatedeleteemployee" class="btn btn-primary btn-option">Update Your Details</a>
  </div>

  <div class="option-box">
    <i class="fas fa-edit fa-3x mb-3"></i>
    <h4>Customer</h4>
    <p>click the button below to modify Customer Details</p>
    <a href="customer-details" class="btn btn-success btn-option">Modify Customer Details</a>
  </div>

  <div class="option-box">
    <i class="fas fa-list-alt fa-3x mb-3"></i>
    <h4>Cargo Order</h4>
    <p>click the button below to Modify Cargo Order Details</p>
    <a href="order-details" class="btn btn-info btn-option">Modify Cargo-Order Details</a>
  </div>

  <div class="option-box">
      <i class="fas fa-search fa-3x mb-3"></i>
      <h4>Search for Cargo Fare</h4>
      <p>Retrieve details of Cargo Fare</p>
      <a routerLink="/getDetails" class="btn btn-warning btn-option">search for Cargo-Fare</a>
    </div>
  </div>
</div>
</div>
