
<body>
      <!-- Your page content goes here -->
   
    <div class="text">
        <h1 style="margin: 200px;"><br><br><br><br><br><br><br><br>Welcome to Our Cargo Booking System</h1>
      <form>
        <p>Thank you for choosing our cargo booking system. We provide a seamless experience for managing your cargo operations efficiently.
        With our system, you can easily book, track, and manage your cargo shipments. Whether you're a small business or a large enterprise, our platform is designed to meet your needs.
        Explore our features and start simplifying your cargo logistics today!</p>
      </form>
    <!-- Your page content goes here -->
    </div>
  </body>
  <!-- Router outlet for dynamic component rendering -->
  <router-outlet></router-outlet>