<div class="parent">
<div class="form-type">
<div class="container">
    <div class="option-box">
      <i class="fas fa-user-plus fa-3x mb-3"></i>
      <h4>Cargo Booking</h4>
      <p>Click the button below to book the Cargo</p>
      <a href="cargobooking" class="btn btn-primary btn-option">Book Cargo</a>
    </div>
 
    <div class="option-box">
      <i class="fas fa-edit fa-3x mb-3"></i>
      <h4>Update Cargo</h4>
      <p>Click the button below to update the Cargo</p>
      <a href="updatedeletecargobooking" class="btn btn-success btn-option">Update Cargo</a>
    </div>
 
    <div class="option-box">
      <i class="fas fa-list-alt fa-3x mb-3"></i>
      <h4>View Cargo Booking Status</h4>
      <p>Click the button below to View Status Of Cargo</p>
      <a href="viewcargobooking" class="btn btn-info btn-option">Cargo Booking Status</a>
    </div>
</div>
</div>
