<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <!-- Navbar brand with logo -->
  <a class="navbar-brand" href="">
    <img src="https://www.evofenedexbedrijvengids.nl/site/cargo-manager-transport-software/$File/cargomanager-intro.png" alt="Logo" width="200" height="80" class="d-inline-block align-top">
    <!--Cargo Manager System-->
  </a>
  <!-- Navbar toggle button for mobile view -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Navbar links and form -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!-- Navigation links -->
    <ul class="navbar-nav mr-auto navbar-center mt-2">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="login" href="login">LogIn</a>
      </li> 
    </ul>
    <form class="form-inline my-2 my-lg-0" style="background-color: white">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<!--to implement routing & SPA .
  it will render components based on menu selection path,it will trigger if any browser address/Url changes.
  it will connect routing .module.ts file and check path name, if its matches then it will render corresponding component in the UI-->
<router-outlet></router-outlet>