<body>
    <div class="wrapper">
      <form action="" class="form-type"
      *ngIf="!isLoggedIn"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
        <h1>Login</h1>
        <div class="input-box">
          <input type="text" class="form-control"
          name="userId"
          [(ngModel)]="form.userId"
          required
          #userId="ngModel"
          [ngClass]="{'is-invalid': f.submitted && userId.errors }"
           placeholder="Username" required />
           <div *ngIf="userId.errors && f.submitted" class="invalid-feedback">
            Username is required!
          </div>
        </div>
        <div class="input-box">
          <input type="password" placeholder="Password"
          class="form-control"
            name="password"
            [(ngModel)]="form.password"
            required
            minlength="6"
            #password="ngModel"
            [ngClass]="{'is-invalid': f.submitted && password.errors }" required />
        </div>
   
        <div class="input-box">
          <input type="text" class="form-control"
          name="role"
          [(ngModel)]="form.role"
          required
          #role="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && role.errors }"
           placeholder="Role" required />
           <div *ngIf="role.errors && f.submitted" class="invalid-feedback">
            Role is required!
          </div>
        </div>
   
        <button type="submit" class="btn">Login</button>
        <div class="register-link">
          <p>Don't have an account? <a href="#">Register</a></p>
        </div>
      </form>
    </div>
  </body>
  <router-outlet></router-outlet>
