<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="parent">
   
  <div class="container">
    <div class="option-box" data-toggle="tooltip" data-placement="top" title="Manage cargo operations.">
    <i class="fas fa-box-open fa-3x mb-3"></i>
    <h4>Cargo</h4>
    <p>Manage cargo operations.</p>
    <a href="cargo-layout" class="btn btn-primary btn-option" >Go to Cargo</a>
    </div>

    <div class="option-box" data-toggle="tooltip" data-placement="top" title="Manage employee-related tasks.">
    <i class="fa-solid fa-user"></i>
    <h4>User</h4>
    <p>Manage employee-related tasks.</p>
    <a href="userdata-layout" class="btn btn-success btn-option">Go to Employee</a>
  </div>
   
  <div class="option-box" data-toggle="tooltip" data-placement="top" title="Register users and employees.">
      <i class="fas fa-clipboard-list fa-3x mb-3"></i>
      <h4>Cargo Fare</h4>
      <p>Register users and employees.</p>
      <a href="cargofarelayout"  class="btn btn-info btn-option">Go to Register</a>
  </div>

  <div class="option-box" data-toggle="tooltip" data-placement="top" title="Generate pass keys.">
  <i class="fas fa-key fa-3x mb-3"></i>
  <h4>Generate</h4>
  <p>Generate  pass keys.</p>
  <a href="gatepass" class="btn btn-secondary btn-option">Go to Generate</a>
  </div>
   
   
  <div class="option-box" data-toggle="tooltip" data-placement="top" title="View housekeeping, admin, and employee details.">
  <i class="fas fa-info-circle fa-3x mb-3"></i>
  <h4>House Details</h4>
  <p>View housekeeping, admin, and employee details.</p>
  <a routerLink="#details" class="btn btn-info btn-option">Go to Details</a>
  </div>
  </div>
  <!-- Include Font Awesome for icons -->
  <script src="https://kit.fontawesome.com/your-font-awesome-kit-code.js" crossorigin="anonymous"></script>
   
  <!-- Enable Bootstrap Tooltip -->
  </div>
