<div class="parent">
    <div class="form-type">
<br>
<h3>Register Employee</h3>
<hr/>
<form>
    <div class="form-inline">
        <label>
            FirstName
        </label>
        <input type ="text" class ="form-control"  [(ngModel)]="employeedata.firstName"  name = "firstName"/>
 
    </div>
    <div class="form-inline">
        <label>
            LastName
        </label>
        <input type ="text" class ="form-control"  [(ngModel)]="employeedata.lastName" name= "lastName"/>
 
    </div>
    <div class="form-inline">
        <label>
            username
        </label>
        <input type ="text" class ="form-control"  [(ngModel)]="employeedata.username" name= "username"/>
 
    </div>
    <div class="form-inline">
        <label>
            password
        </label>
        <input type ="text" class ="form-control"  [(ngModel)]="employeedata.password" name= "password"/>
 
    </div>
    <div class="form-inline">
        <label>
            Role
        </label>
        <input type ="text" class ="form-control"  [(ngModel)]="employeedata.role" name= "role"/>
 
    </div>
    <div class="form-inline">
        <label>
            email
        </label>
        <input type ="text" class ="form-control"  [(ngModel)]="employeedata.email" name= "email"/>
 
    </div>
    <div class="form-inline">
        <label>
            address
        </label>
        <input type ="text" class ="form-control"  [(ngModel)]="employeedata.address" name= "address"/>
 
    </div>
    <div class="form-inline">
        <label>
            Phoneno
        </label>
        <input type ="text" class ="form-control"  [(ngModel)]="employeedata.phoneNo" name= "phoneNo"/>
 
    </div>
    <input type="button"(click)="addEmployee()" value="Submit" class="btn btn-success" />
</form>
    </div>
</div>


  
