<div class="parent">
<div class="form-type">
<div class="container">
    <div class="option-box">
      <i class="fas fa-user-plus fa-3x mb-3"></i>
      <h4>Add New Cargo Order</h4>
      <p>click the button below to Add Cargo Details</p>
      <a href="cargoorder" class="btn btn-primary btn-option">Add New Cargo-Order</a>
    </div>
 
    <div class="option-box">
      <i class="fas fa-edit fa-3x mb-3"></i>
      <h4>Update Places and Prices</h4>
      <p>click the button below to update Place & Price</p>
      <a routerLink="/updateDetails" class="btn btn-success btn-option">Update Place & Price</a>
    </div>
 
    <div class="option-box">
      <i class="fas fa-list-alt fa-3x mb-3"></i>
      <h4>Search For Order</h4>
      <p>click the button below to view Cargo Order</p>
      <a href="searchforcargo" class="btn btn-info btn-option">view Cargo-Order</a>
</div>
</div>
</div>
