.parent{
    background: url("https://images.pexels.com/photos/3840441/pexels-photo-3840441.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2") no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    
  .navbar {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #dee2e6;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
 
  .navbar-brand {
    font-weight: bold;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .navbar-brand img {
    margin-right: 1rem;
  }
  .nav-link {
    margin: 0 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    transition: all 0.2s ease-in-out;
  }
 
  .nav-link:hover {
    background-color: #f8f9fa;
  }
 
  .nav-link.active {
    color: rgba(50, 24, 130, 0.509);
    background-color: #007bff;
  }
 
  @media (max-width: 991.98px) {
    .navbar-brand {
      flex-grow: 1;
    }
    .navbar-toggler {
      margin-left: 1rem;
    }
  }
 
  .container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
  }
 
  .option-box {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
  }
 
  .option-box:hover {
    transform: scale(1.05);
  }
 
  h4 {
    color: #343a40;
  }
 
  p {
    color: #6c757d;
  }
 
  .btn-option {
    margin-top: 10px;
  }