<div class="parent">
<div class="form-type">
<div class="container">
    <div class="option-box">
      <i class="fas fa-user-plus fa-3x mb-3"></i>
      <h4>Register New Customer</h4>
      <p>click the button below to Update Customer Details</p>
      <a href="customer" class="btn btn-primary btn-option">Register New-Customer</a>
    </div>
 
    <div class="option-box">
      <i class="fas fa-edit fa-3x mb-3"></i>
      <h4>Search for Customer by Id</h4>
      <p>click the button below to view Customer Details</p>
      <a routerLink="/updateDetails" class="btn btn-success btn-option">View Customer-Details</a>
    </div>
 
    <div class="option-box">
      <i class="fas fa-list-alt fa-3x mb-3"></i>
      <h4>Update Customer Details</h4>
      <p>click the button below to Update Customer-Details</p>
      <a href="updatecustomer" class="btn btn-info btn-option">Update Customer-Details</a>
</div>
</div>
</div>
